@import url('https://fonts.googleapis.com/css2?family=Joan&family=Nunito:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto-condensed' sans-serif;
}

.header{
    background:linear-gradient(to bottom, rgba(97, 97, 193,0.6), rgba(240, 231, 231,0.5)),url(../image/dogbg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}


.img-card{
    height:150px;
    width:150px;
}

.header{
    min-height: 70vh;
}

.header h2{
    font-size:50px;
    font-weight: 400;
    line-height: 80px;
}

.dog :nth-of-type(1) {
    border-radius: 50% 40% 27% 82% / 57% 15% 84% 60%!important; 

}
.dog1 :nth-of-type(1){
    border-radius: 60% 67% 76% 45% / 24% 56% 50% 38%!important; 

}
.dog2 :nth-of-type(1) {
    border-radius: 62% 94% 86% 82% / 49% 50% 63% 99%!important; 

}

.dog :nth-of-type(1):hover{
    border-radius:60% 67% 76% 45% / 24% 56% 50% 38%!important; 
}

.dog1 :nth-of-type(1):hover{
    border-radius: 62% 94% 86% 82% / 49% 50% 63% 99%!important; 
}

.dog2 :nth-of-type(1):hover{
    border-radius: 20% 60% 80% 80% / 90% 70% 90% 60% !important;
}
.blob{
    width:200px;
    height:200px;
    position:absolute;
    bottom:-20px;
    left:-10px;
    background: linear-gradient(30deg, rgb(128, 128, 200, 0.8), rgba(243, 200, 119,0.6));
    border-radius:60% 67% 76% 45% / 24% 56% 50% 38%!important; 
    transform: rotate(60deg);
    z-index: -1;
}

.blob2{
    width:300px;
    height:300px;
    position:absolute;
    top:-20px;
    right:-10px;
    background: linear-gradient(30deg, rgb(128, 128, 200, 0.8), rgba(243, 200, 119,0.6));
    border-radius:60% 67% 76% 45% / 24% 56% 50% 38%!important; 
    transform: rotate(60deg);
    z-index: -1;
}

.profile{
    height: 50px;
    width:50px
}
.logo{
    width:200px;
    height:80px
}

.fa-heart{
    color:red
}
.fa-comment{
    color:rgb(25, 22, 22)
}
.content{
    height:60vh
}

